<table class="table table-dark table-hover center"  style="height: 100px;">
    <thead>
      <tr>
            
        
        <th scope="col">NOMBRE</th>
        <th scope="col">PRECIO </th>
        <th scope="col"> UNIDADES</th>
        <th>TOTAL PRECIO</th>
        <th scope="col"> ACCION</th>
    
  
       
    
        


    </thead>
    <tbody >
      <tr *ngFor="let user of listUser">
       <td scope="col">{{user.nombres}}</td>
        <td scope="row">{{user.documento}}</td>
        <td scope="row">{{user.correo}}</td>
        <td scope="row">{{user.saldo}}</td>
      
    
        
        <td>
          <div class="options">
            <button class="btn btn-light" routerLink="/add">NUEVO</button>
    
            <br>
            <br>
             <i [routerLink]="['/movmientos/',(user.documento)]" class="btn btn-primary">HISTORIAL MOVIMIENTOS</i>
            <br>
            <br>
            <!-- <i  (click)="deleteProduct(product.codigoProuducto)" class="btn btn-danger">ELIMINAR</i> -->
          </div>
         
        </td>

      </tr>

    </tbody>
      

  </table>