<body>

 

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home">CAJERO AUTMÁTICO POLI </a>
 
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="navbar-brand" routerLink="/insertUser">crear usuario </a>
        </li>
      
      
      </ul>
      <form class="form-inline my-2 my-lg-0">
       
        <button class="btn btn-danger sesion" (click)='closesecion()'> cerrar sesion</button>
      </form>
    </div>
  </nav>

  <br>

  <div class="container">
    <h1>PANEL ADMINSTRATIVO</h1>
  </div>
  <div class="container">
    <table class="table table-primary table-bordered table-hover center" style="height: 100px;">
      <thead>

        <tr>
          <th scope="col">NOMBRE</th>
          <th scope="col">DOCUMENTO </th>
          <th scope="col"> CORREO</th>
          <th>SALDO ACTUAL</th>
          <th scope="col"> ACCION</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of listUser">
          <td scope="col">{{user.nombres}}</td>
          <td scope="row">{{user.documento}}</td>
          <td scope="row">{{user.correo}}</td>
          <td scope="row">{{user.saldo}}$</td>
          <td>
            <div class="options">

              <br>
              <br>
              <i [routerLink]="['/movmientos/',(user.documento)]" class="btn btn-danger">HISTORIAL MOVIMIENTOS</i>
              <br>
              <br>
              <i [routerLink]="['/retiro/',(user.documento)]" class="btn btn-dark">RETIRAR</i>
              <br>
              <br>
              <i [routerLink]="['/consginar/',(user.documento)]" class="btn btn-warning">CONSIGNAR</i>
            </div>

          </td>

        </tr>

      </tbody>


    </table>

  </div>
</body>